/.snakemake/*
/ref/*
/results/002_qc/*
/results/003_abundance/kraken2/outputs/*
/results/003_assembly/*/*/*
/results/004_pathways/humann/*
/results/004_pathways/humann/*/*_merged_humann_temp/*
/results/005_amr/resfinder/*/resfinder_kma/*
/samples/*
/others/*


# Ignore large files that exceed GitHub's file size limit
results/003_assembly/ERR13731435/before_rr.fasta
results/003_assembly/ERR13731435/contigs.fasta
results/003_assembly/ERR13731435/scaffolds.fasta
results/003_assembly/ERR13731435/assembly_graph_after_simplification.gfa
results/003_assembly/ERR13731435/assembly_graph_with_scaffolds.gfa
results/006_tree/msa/ERR13731435_DB
results/003_assembly/ERR13731530/assembly_graph_with_scaffolds.gfa
results/003_assembly/ERR13731435/assembly_graph.fastg
logs/006_tree/msa/ERR13731530.log
logs/006_tree/msa/ERR13731454.log
results/003_assembly/ERR13731454/assembly_graph_with_scaffolds.gfa
logs/006_tree/msa/ERR13731435.log
results/003_assembly/ERR13731530/assembly_graph_after_simplification.gfa
results/003_assembly/ERR13731454/before_rr.fasta
results/003_assembly/ERR13731454/contigs.fasta
results/003_assembly/ERR13731530/contigs.fasta
results/003_assembly/ERR13731454/assembly_graph.fastg
results/006_tree/msa/ERR13731454_DB
results/003_assembly/ERR13731454/assembly_graph_with_scaffolds.gfa
results/003_assembly/ERR13731454/assembly_graph_after_simplification.gfa
results/003_assembly/ERR13731530/assembly_graph.fastg
results/003_assembly/ERR13731530/before_rr.fasta
results/003_assembly/ERR13731530/scaffolds.fasta
results/003_assembly/ERR13731454/scaffolds.fasta